.App {
  text-align: center;
  color:rgb(12, 12, 12);
  background: rgb(239,246,246);
  background: radial-gradient(circle, rgba(239,246,246,1) 21%, rgba(176,237,4,1) 57%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: ;
}

.App-link {
  color: #61dafb;
}

.lista {
  text-decoration: none;
  text-decoration-line: none;
}

@media only screen  and (max-width: 320px) {
  .logo {
    width: 50%;
    height: 50%;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
