.App {
  text-align: center;
  color:rgb(8, 8, 8);
  background: rgb(247,247,247);
  background: radial-gradient(circle, rgba(247,247,247,1) 0%, rgba(247,247,247,1) 46%, rgba(119,10,213,1) 92%, rgba(132,0,255,1) 100%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: ;
}

.App-link {
  color: #61dafb;
}

.lista {
  text-decoration: none;
}

@media only screen  and (max-width: 320px) {
  .logo {
    width: 50%;
    height: 50%;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
